<div class="left-side-bar">
    <div class="brand-logo">
        <a href="#">
            <h3 class="text-white">Comptability Manager</h3>
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <div class="nav-lavel ">Navigation</div>
            <ul id="accordion-menu">
                <li>
                    <a th:href="@{/dashboard}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-bar-chart-1"></span><span class="mtext">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/produit}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-library"></span><span class="mtext">Produits</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/vente}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-list3"></span><span class="mtext">Ventes</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/recette}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-shopping-cart"></span><span class="mtext">Recettes</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/depense}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-shopping-basket"></span><span class="mtext">Depenses</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/agent}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-user"></span><span class="mtext">Personnel</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/users}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-badminton"></span><span class="mtext">Users</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-list"></span><span class="mtext">Rapports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>