<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Basic Page Info -->
  <meta charset="utf-8">
  <title>Recettes</title>

  <!-- Site favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../static/vendors/images/Logo.jpg">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/vendors/images/Logo.jpg">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/vendors/images/Logo.jpg">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../vendors/styles/core.css">
  <link rel="stylesheet" type="text/css" href="../vendors/styles/icon-font.min.css">
  <link rel="stylesheet" type="text/css" href="../src/plugins/datatables/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="../src/plugins/datatables/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="../vendors/styles/style.css">
  <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">-->

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-119386393-1');
  </script>
  <style type="text/css">
    #log{
      width: 100px;
    }
  </style>
</head>
<body>
<div class="pre-loader">
  <div class="pre-loader-box">
    <div id="log" class="loader-logo"><h1>Comptability Manager</h1></div>
    <div class='loader-progress' id="progress_div">
      <div class='bar' id='bar1'></div>
    </div>
    <div class='percent' id='percent1'>0%</div>
    <div class="loading-text">
      Loading...
    </div>
  </div>
</div>

<div class="header">
  <div class="header-left">
    <div class="menu-icon dw dw-menu"></div>
    <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
    <div class="header-search">
      <form>
        <div class="form-group mb-0">
          <i class="dw dw-search2 search-icon"></i>
          <input type="text" class="form-control search-input" placeholder="Search Here">
        </div>
      </form>
    </div>
  </div>
  <div class="header-right">
    <div class="dashboard-setting user-notification">
      <div class="dropdown">
        <a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
          <i class="dw dw-settings2"></i>
        </a>
      </div>
    </div>

    <div class="user-info-dropdown">
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            <span class="user-icon">
                                <img src="../vendors/images/customer.png" alt="">
                            </span>
          <!-- <span class="user-name"><?php echo($_SESSION['user_name']); ?></span> -->
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
          <a class="dropdown-item" href="#"><i class="dw dw-user1"></i> Profile</a>
          <a class="dropdown-item" href="#"><i class="dw dw-logout"></i> Log Out</a>
        </div>
      </div>
    </div>
    <div class="github-link">
      <a href="#" target="_blank"><img src="../vendors/images/github.svg" alt=""></a>
    </div>
  </div>
</div>


<div class="right-sidebar">
  <div class="sidebar-title">
    <h3 class="weight-600 font-16 text-blue">
      Layout Settings
      <span class="btn-block font-weight-400 font-12">User Interface Settings</span>
    </h3>
    <div class="close-sidebar" data-toggle="right-sidebar-close">
      <i class="icon-copy ion-close-round"></i>
    </div>
  </div>
  <div class="right-sidebar-body customscroll">
    <div class="right-sidebar-body-content">
      <h4 class="weight-600 font-18 pb-10">Header Background</h4>
      <div class="sidebar-btn-group pb-30 mb-10">
        <a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
        <a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
      </div>

      <h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
      <div class="sidebar-btn-group pb-30 mb-10">
        <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
        <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
      </div>

      <h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
      <div class="sidebar-radio-group pb-10 mb-10">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-1" checked="">
          <label class="custom-control-label" for="sidebaricon-1"><i class="fa fa-angle-down"></i></label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-2">
          <label class="custom-control-label" for="sidebaricon-2"><i class="ion-plus-round"></i></label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-3">
          <label class="custom-control-label" for="sidebaricon-3"><i class="fa fa-angle-double-right"></i></label>
        </div>
      </div>

      <h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
      <div class="sidebar-radio-group pb-30 mb-10">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input" value="icon-list-style-1" checked="">
          <label class="custom-control-label" for="sidebariconlist-1"><i class="ion-minus-round"></i></label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input" value="icon-list-style-2">
          <label class="custom-control-label" for="sidebariconlist-2"><i class="fa fa-circle-o" aria-hidden="true"></i></label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input" value="icon-list-style-3">
          <label class="custom-control-label" for="sidebariconlist-3"><i class="dw dw-check"></i></label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input" value="icon-list-style-4" checked="">
          <label class="custom-control-label" for="sidebariconlist-4"><i class="icon-copy dw dw-next-2"></i></label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input" value="icon-list-style-5">
          <label class="custom-control-label" for="sidebariconlist-5"><i class="dw dw-fast-forward-1"></i></label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input" value="icon-list-style-6">
          <label class="custom-control-label" for="sidebariconlist-6"><i class="dw dw-next"></i></label>
        </div>
      </div>

      <div class="reset-options pt-30 text-center">
        <button class="btn btn-danger" id="reset-settings">Reset Settings</button>
      </div>
    </div>
  </div>
</div>

<div class="left-side-bar">
  <div class="brand-logo">
    <a href="#">
      <h3 class="text-white">Comptability Manager</h3>
    </a>
    <div class="close-sidebar" data-toggle="left-sidebar-close">
      <i class="ion-close-round"></i>
    </div>
  </div>
  <div class="menu-block customscroll">
    <div class="sidebar-menu">
      <div class="nav-lavel ">Navigation</div>
      <ul id="accordion-menu">
        <li>
          <a th:href="@{/}" class="dropdown-toggle no-arrow">
            <span class="micon dw dw-bar-chart-1"></span><span class="mtext">Dashboard</span>
          </a>
        </li>
        <li>
          <a th:href="@{/produit}" class="dropdown-toggle no-arrow">
            <span class="micon dw dw-library"></span><span class="mtext">Produits</span>
          </a>
        </li>
        <li>
          <a th:href="@{/vente}" class="dropdown-toggle no-arrow">
            <span class="micon dw dw-list3"></span><span class="mtext">Ventes</span>
          </a>
        </li>
        <li>
          <a th:href="@{/recette}" class="dropdown-toggle no-arrow">
            <span class="micon dw dw-shopping-cart"></span><span class="mtext">Recettes</span>
          </a>
        </li>
        <li>
          <a th:href="@{/depense}" class="dropdown-toggle no-arrow">
            <span class="micon dw dw-shopping-basket"></span><span class="mtext">Depenses</span>
          </a>
        </li>
        <li>
          <a href="#" class="dropdown-toggle no-arrow">
            <span class="micon dw dw-list"></span><span class="mtext">Rapports</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mobile-menu-overlay"></div>


<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Recettes</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>

      <div class="card-box mb-30">
        <div class="pb-20">
          <form th:action="@{/recette/create}" method="post" th:object="${recettes}" class="form-horizontal col-md-12" autocomplete="off">
            <div class="row">
              <input type="hidden" class="form-control" th:field="*{id}" name='id' id="id" />
              <div class="col-md-6 mt-3">
                <div class="form-group">
                  <label>Montant</label>
                  <input type="number" class="form-control" min="0" placeholder="Entré le montant" th:field="*{montant}" id="montant" name='montant' required />
                </div>
                <div class="form-group">
                  <label>Motif</label>
                  <input type="text" class="form-control" placeholder="motif" th:field="*{motif}" name='motif' id="motif" required />
                </div>
                <div class="form-group">
                  <label>Vente</label>
                  <select class="form-control" th:field="*{refvente}" id="refvente" name='refvente' >
                    <optgroup >
                      <option value="vente">vente</option>
                    </optgroup>
                  </select>
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="form-group">
                  <label>Caisse</label>
                  <select class="form-control" name='refcaisse' id="refcaisse" th:field="*{refcaisse}" >
                    <optgroup >
                      <option value="Caisse">Caisse</option>
                    </optgroup>
                  </select>
                </div>
                <div class="form-group">
                  <label>Date recette</label>
                  <input type="date" class="form-control" name='daterecette' id="daterecette" th:field="*{daterecette}" required />
                </div>
                <div class="form-group">
                  <label>Author</label>
                  <input type="text" class="form-control" placeholder="author" th:field="*{author}" id="author" name='author' required />
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary col-md-6 mt-4 ml-5" value="Enregistrer" />
            </div>
          </form>
        </div>
      </div>
      <!-- Simple Datatable End -->
    </div>
  </div>
  <div class="footer-wrap pd-20 mb-20 card-box">
    Copyright © 2021 Isig Goma. All Rights Reserved. by <a href="www.isig.ac.cd" target="_blank">Isig Goma</a>
  </div>
</div>
<!-- js -->
<script src="../vendors/scripts/core.js"></script>
<script src="../vendors/scripts/script.min.js"></script>
<script src="../vendors/scripts/process.js"></script>
<script src="../vendors/scripts/layout-settings.js"></script>
<script src="../src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="../src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="../src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="../src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<!-- buttons for Export datatable -->
<script src="../src/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="../src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
<script src="../src/plugins/datatables/js/buttons.print.min.js"></script>
<script src="../src/plugins/datatables/js/buttons.html5.min.js"></script>
<script src="../src/plugins/datatables/js/buttons.flash.min.js"></script>
<script src="../src/plugins/datatables/js/pdfmake.min.js"></script>
<script src="../src/plugins/datatables/js/vfs_fonts.js"></script>
<!-- Datatable Setting js -->
<script src="../vendors/scripts/datatable-setting.js"></script></body>
</body>
</html>